doctype html
html
    head
        title Node server :)
        style 
            include style.css
    body
        div(class="table-title")

            table(class="table-fill")
                thead
                    tr
                        th(class="text-left")
                            | Identifiant
                        th(class="text-left")
                            | Ville
                tbody(class="table-hover")
                    each n in towns
                       tr
                        td(class="text-left" id="inputId")
                            | #{n._id}
                                
                        td(class="text-left" )
                            | #{n.name}
            
    script.
        function updateTownName(id, name){
            const cityId = id;
            const newName = name
            
            
            if(cityId !== ""){
                
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                     if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText);
                    }
                };
                xhttp.open("PUT", "/city/"+ cityId, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                xhttp.send(JSON.stringify({name: newName}));
            }

        }