doctype html
html
    head
        title Node server :)
        style 
            include addcity.css
    body
        .login-page
            .form
                form.register-form
                input(type='text', placeholder='id' name='id' id='id')
                input(type='text', placeholder='name' name='name' id='name')
                button( onClick="updateTownName()") Update city →

    script.
        function updateTownName(){
            const cityId = document.getElementById('id').value;
            const newName = document.getElementById('name').value;
            
            console.log(cityId, newName)           
            if(cityId !== ""){
                
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                     if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText);
                    }
                };
                xhttp.open("PUT", "/city/"+ cityId, true);
                xhttp.setRequestHeader("Content-Type", "application/json");
                xhttp.send(JSON.stringify({name: newName}));
            }

        }